<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Rooms</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Available Rooms</h2>
        <ul class="list-group">
            {% for room in rooms %}
                <li class="list-group-item">
                    Room Number: {{ room.room_number }}
                    {% if not room.room_number in room_names %}
                    <form id="deleteForm{{ room.room_number }}" action="/delete_room" method="post">
                        <input type="hidden" name="room_number" value="{{ room.room_number }}">
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ room.room_number }}')">Delete</button>
                    </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function confirmDelete(roomNumber) {
            if (confirm("Are you sure you want to delete room " + roomNumber + "?")) {
                document.getElementById("deleteForm" + roomNumber).submit();
            }
        }
    </script>
</body>
</html>
