<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Bookings</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Your Bookings</h1>
        {% if user_bookings %}
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Start Date</th>
                        <th>Check-in Time</th>
                        <th>End Date</th>
                        <th>Check-out Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in user_bookings %}
                        <tr>
                            <td>{{ booking.room_number }}</td>
                            <td>{{ booking.start_date }}</td>
                            <td>{{ booking.checkin_time }}</td>
                            <td>{{ booking.end_date }}</td>
                            <td>{{ booking.checkout_time }}</td>
                            <td>
                                <button class="btn btn-danger" onclick="deleteBooking('{{ booking.room_number }}', '{{ booking.start_date }}')">Delete</button>
                                <a href="/edit_booking?room_number={{ booking.room_number }}&start_date={{ booking.start_date }}" class="btn btn-primary">Edit</a> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No bookings found.</p>
        {% endif %}
        <a href="/" class="btn btn-primary">Back to Main Page</a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function deleteBooking(roomNumber, startDate) {
    
            fetch('/delete_booking', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `room_number=${roomNumber}&start_date=${startDate}`
            })
            .then(response => {
                if (response.ok) {
                    location.reload(); 
                } else {
                    console.error('Failed to delete booking');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
